.template {
  text-align: center;
}

// Mixins
@mixin gen-props($prefix, $property) {
  @each $color-name, $color in $colors {
    .#{$prefix}-#{$color-name} {
      #{$property}: $color
    }
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

// Colors
$color-black: #000000;
$color-black-light: #BEBEBE;

$color-gray: #898989;
$color-gray-light: #E9E7E7;

$color-blue: #4374D8;
$color-blue-light: #9ABBFF;

$color-orange: #FF7443;
$color-orange-light: #FFAA58;

//
$primary-font: 'Muli', sans-serif;
$primary-font-color: #898989;

$heading-font-color: $color-blue;
$subheading-font-color: #898989;

$primary-button-color: $color-blue;

$colors: (
  black: $color-black,
  black-light: $color-black-light,

  gray: $color-gray,
  gray-light: $color-gray-light,

  blue: $color-blue,
  blue-light: $color-blue-light,

  orange: $color-orange,
  orange-light: $color-orange-light
);

@include gen-props('bg', 'background');

// General

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
nav {
  list-style: none;
}

ul li,
nav li {
  position: relative;
}

.home, .page-news, .page-news-list {
  font-family: $primary-font;
  font-size: 18px;
  font-weight: normal;
  color: $primary-font-color;
  line-height: 26px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.is-heading {
  color: $heading-font-color;
  font-family: $primary-font;
  font-size: 35px;
  line-height: 51px;
  padding-bottom: 30px;
  &.is-orange {
    color: $color-orange;
  }
}

.is-subheading {
  color: $subheading-font-color;
  font-family: $primary-font;
  font-size: 28px;
  line-height: 41px;
}

// Default button will have primary colors
.btn {
  background-color: $primary-button-color;
  @include border-radius(5px);
  padding: 17px 20px;
  min-width: 225px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  &.is-large {
    padding: 21px;
    min-width: 275px;
    font-size: 20px;
  }

  &.is-small {
    padding: 8px 31px;
    min-width: 120px;
    font-size: 12px;
  }

  &:hover:not(:disabled) {
    background-color: #4F82EC;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.2)
  }

  &:disabled {
    background-color: $color-black-light;
  }

  &.has-icon {
    position: relative;
    text-align: left;
    padding-right: 15px;
    .fa {
      position: absolute;
      right: 15px;
      top: 50%;
      font-size: 32px;
      transform: translate(0, -50%);
    }
    &.is-large .fa {
      right: 17px;
    }
  }
}

a.btn {
  display: inline-block;
}

a {
  color: $color-blue;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p.info {
  max-width: 500px;
  text-align: center;
}

input.form-control {
  color: $color-black-light;
  font-size: 18px;
  background-color: #FFFFFF;
  padding: 15px;
  border: 1px solid $color-black-light;
  outline: 0;
  &::placeholder {
    color: #BEBEBE;
  }
  &.is-large {
    padding: 20px 15px;
  }
  &:active:not(:disabled), &:focus:not(:disabled) {
    color: $primary-font-color;
  }
  &:disabled {
    background: $color-gray-light;
  }
}

.form-icon-wrapper {
  position: relative;
  padding-right: 50px;
  display: inline-block;
  input {
    border-right: none;
  }
  button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-color: $color-blue;
    color: #FFFFFF;
    border: none;
  }
  i.fa {
    font-size: 18px;
  }
  &.is-large {
    padding-right: 65px;
    button {
      background-color: $color-orange-light;
      width: 65px;
    }
  }
  input:disabled {
    background-color: $color-gray-light;
    color: $color-black-light;
    & + button {
      background-color: $color-black-light;
    }
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.responsive-image {
  width: 100%;
  height: auto;
}

@media(max-width: 1280px) {
  .container {
    width: auto !important;
  }
}

@media(max-width: 600px) {
  a {
    font-size: 16px;
  }
  .container {
    padding: 30px !important;
  }
  .is-heading {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }
}

.page-news-list, .page-news {
  header {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.5);
  }
  background-color: #FFFFFF;
  .news-list, .news-content {
    padding: 45px;
  }
  .is-heading {
    padding-bottom: 0;
  }
  .is-heading, .is-subheading {
    color: $color-gray;
  }
  .leftbar {
    width: 70%;
  }
  .rightbar {
    width: 30%;
  }
  .leftbar, .rightbar {
    float: left;
    padding: 0 30px;
  }
  .news-listing:not(:first-child) {
    padding: 15px 0;
  }
  .news-title {
    margin: 15px 0;
    font-weight: 700;
    color: $color-orange;
    font-size: 28px;
    line-height: 36px;
  }
  .news-listing-box {
    padding: 50px 0;
    .news {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      margin-bottom: 45px;
    }
    .news-preview-content {
      padding: 0px 40px 20px;
      .btn {
        margin: 15px 0;
      }
    }
  }
  .pagination {
    justify-content: center;
  }
  // Right sidebar
  .topic-list {
    margin-top: 15px;
    .count {
      color: $color-gray;
      font-weight: normal;
    }
  }
}